---
layout: page
description: "Week updates of Isyana Sarasvati"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <script id="dsq-count-scr" src="//isyanationblog.disqus.com/count.js" async="async"></script>
    <p class="post-meta">Diposkan oleh {% if post.author %}<a href="https://www.isyanation.tk/admin/nurfaqihimam">{{ post.author }}</a>{% else %}<a href="https://www.isyanation.tk/articles">{{ site.title }}</a>{% endif %} pada {{ post.date | date: "%B %-d, %Y" }}. <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></p><br/>
    <span class="readmore"><a href="{{ post.url | prepend: site.baseurl }}">Baca selengkapnya</a></span>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Postingan terbaru</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Postingan lawas &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
